<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="" content="">

    <title>Drew Wetherington Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body id ="home">
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Drew Wetherington</a></li>
          <li id="home"><a href="">Projects</a></li>
          <li><a href="http://drewweth.blogspot.com/"><i class="icon-share-alt"></i> Blog</a></li>
          <li><a href="mailto:Dgwetherington@gmail.com"><i class="icon-envelope"></i> Send Email</a></li>

        </ul>
      </div>
          
      <!-- Page content -->
      <div class="container">
        <div class="content-header">
          <h1>
              <span class="glyphicon glyphicon-bookmark"></span>
            My Public Profiles
          </h1>
        </div>
        <div class="row">
            <div class="col-sm-12"> 
              <div class="well">
                  <div class="row">
                  <div class="col-sm-8">
                    <h3>About Me</h3>
                    <hr>  
                    <p>My name is Drew Wetherington. I'm a sophomore pre-Medicine student studying Computer Science and Biology at the University of Columbia. I was born in Columbia, Missouri, but grew up in South Saint Louis. Some of my hobbies include playing the drum set, riding motorcycles, programming, playing League of Legends, frisbee golf, and cooking.
                    </p>
                  </div>
                  <div class="col-sm-4">
                    <center><img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn2/t1/969100_10201085427110752_875070953_n.jpg" height="200"></img></center>
                   </div>
                 </div>
              </div>
            </div>
          </div>
          <center>
          <div class="row">

            <div class="col-md-4">
              <p class="well"><a href="https://www.facebook.com/drew.wetherington">Facebook</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://twitter.com/DrewWeth">Twitter</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://www.linkedin.com/pub/drew-wetherington/83/a35/720
">LinkedIn</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p class="well"><a href="https://github.com/DrewWeth">Github</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://plus.google.com/113926987158062055829/posts/p/pub">Google+</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="http://otland.net/members/zizimaza.3761/">OTland</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="well"><a href="http://drewweth.blogspot.com/">Blogspot</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="http://www.reddit.com/user/Zizimaza/">Reddit</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="http://instagram.com/DrewWeth">Instagram</a></p>
            </div>
          </div>
           </center>
        </div>
        <center>
          <div class="container">
          <div class="row">
        <div class="col-md-12">
              <p class="well">Here are some current and past projects. I challenge you to make all these links purple.</p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-3">
              <div class="well inactive">
                <div class="label label-info">Redera (Iso MMOBA)
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="http://drewweth.herokuapp.com">DrewWeth.com</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="http://www.Zizimaza.webs.com">Zizimaza.webs.com</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="http://mudx.herokuapp.com">MUDX.herokuapp.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="well">
                <div class="label label-info">Adera (Iso MMORPG)
                </div>
              </div>
            </div>
          
            <div class="col-md-3">
              <p class="well"><a href="http://LhsInteractClub.webs.com">LhsInteractClub.webs.com</a></p>
            </div>  
            <div class="col-md-3">
              <p class="well"><a href="http://TwitterChecker.herokuapp.com">Twitter Checker</a></p>
            </div>
          </div>
      </div>
    </div></center>
	</div>

<div class="container">
  <hr>
</div>
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Put this into a custom JavaScript file to make things more organized -->

  </body>
</html>