<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drew Wetherington Home</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body id ="home">
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Drew Wetherington</a></li>
          <li id="home"><a href="#">Projects</a></li>
          <li><a href="http://drewweth.blogspot.com/">Blog</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Contact</a></li>

        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            My Public Profiles
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <center>
            <div class="col-md-12">
              <p class="lead">
            <div class="col-md-6">
              <p class="well">I made this website to concentrate my internet pressence into one central place</p>
            </div>
            <div class="col-md-6">
              <p class="well">I don't know why you would want to, but feel free to use anything here</p>
            </div>
            
            <div class="col-md-4">
              <p class="well"><a href="https://www.facebook.com/drew.wetherington">Facebook</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://twitter.com/DrewWeth">Twitter</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://www.linkedin.com/pub/drew-wetherington/83/a35/720
">LinkedIn</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://github.com/DrewWeth">Github</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="https://plus.google.com/113926987158062055829/posts/p/pub">Google+</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="http://otland.net/members/zizimaza.3761/">OTland</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="http://drewweth.blogspot.com/">Blogspot</a></p>
            </div>
            <div class="col-md-4">
              <p class="well"><a href="http://instagram.com/DrewWeth">Instagram</a></p>
            </div></center>
          
        </div>
        <center>
        <div class="col-md-12">
              <p class="well">Here are some current and past projects. I challenge you to make all these links purple.</p>
        </div>
        <div class="col-md-3">
              <p class="well"><a href="">Redera (Iso MMOBA)</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">DrewWeth.com</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">Premed.missouri.edu</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">MUDX.herokuapp.com</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">Adera (Iso MMORPG)</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">DrewWeth.github.io</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">LhsInteractClub.webs.com</a></p>
            </div>
            <div class="col-md-3">
              <p class="well"><a href="">Zizimaza.webs.com</a></p>
            </div>

      </div>

        </center>
    </div>
	</div>
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>